<%= link_to transition_path(dossier, :reject), method: :put, data: { confirm: 'Are you sure?' }, :class => "btn-flat danger icon-remove-sign" do %>
  <span class="icon"> </span>
  <span class="text">Reject</span>
<% end %>