<%= link_to transition_path(dossier, :reject), :method => :put, :data => {:confirm => 'Are you sure?' }, :class => "btn btn-flat danger" do %>
  <i class="icon-remove-sign"></i>
  <span>Reject</span>
<% end %>