<% if flash.alert %>
  <div class="alert">
    <%= flash.alert %>
  </div>
<% end %>

<% if flash.notice %>
  <div class="alert">
    <%= flash.notice %>
  </div>
<% end %>

<p id="notice"><%= notice %></p>