<%= form_tag dossiers_path, :method => "get" do %>
  <%= text_field_tag "search[name]", (params[:search][:name] if params[:search]), :placeholder => "Search by Applicant name", :class => "span5 search" %>
  <div class="ui-dropdown">
    <div class="head" data-toggle="tooltip" title="Click me!">
      Filter users
      <i class="arrow-down"></i>
    </div>
    <div class="dialog">
      <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
      </div>

      <div class="body">
        <p class="title">Show users where:</p>
        <div class="form">
          <select>
            <option>Name</option>
            <option>Email</option>
            <option>Number of orders</option>
            <option>Signed up</option>
            <option>Last seen</option>
          </select>
          <select>
            <option>is equal to</option>
            <option>is not equal to</option>
            <option>is greater than</option>
            <option>starts with</option>
            <option>contains</option>
          </select>
          <input type="text" />
          <a class="btn-flat small">Add filter</a>
        </div>
      </div>
    </div>
  </div>
<% end %>