<!-- PREWORK BOX -->
<div class="dossier-form-container">

  <h2>Prework</h2>
  <%= render 'shared/collapser_button' %>

  <div class="collapsible">
    <p>In <a href="http://prework.flatironschool.com">our prework</a> you're going to find a ton of reading, videos and quizzes that Flatiron students complete before their semester even begins.</p>
    <p>We also highly recommend the following courses to suppplement the Flatiron School prework. Have fun with it and enjoy. This is just the beginning!</p>
    <ul class="logo_list">
      <li>
        <%= link_to image_tag("treehouse_logo.jpg"), "http://teamtreehouse.com/" %>
      </li>
      <li>
        <%= link_to image_tag("codeschool_logo.png"), "http://www.codeschool.com/paths/ruby" %>
      </li>
      <li>
        <%= link_to image_tag("codeacademy_logo.png"), "http://www.codecademy.com/tracks/ruby/" %>
      </li>
    </ul>

  </div>
</div>