<h1> Applications </h1> 
<br>


<ul><h2> NAME | EMAIL | TAGLINE </h2> </ul>
<% @dossiers.each do |dossier| %> 

<li>
		<%= link_to dossier.user.name, dossier.user %> | <%= dossier.user.email %> | <%= dossier.tagline %> | <%= link_to 'Edit Dossier Status', new_dossier_dossier_status_path(dossier) %>
</li>

<% end %> 