<body class="dossier-form-bg">
<div class="container">

<!-- APPLICATION STATUS BOX -->
<%= render "dossiers/application_status" %>

  <% if current_user.id == @dossier.user_id  %>
     
<!-- PREWORK BOX --> 
<%= render "dossiers/prework" %>

  <% end %>

<!-- APPLICATION SUMMARY BOX -->
<%= render "dossiers/application_summary" %>

  <% if can? :update, @dossier  %>
    
<!-- COMMENTS BOX  --> 
<%= render "dossiers/comments" %>

  <% end %>

</div>
</body>