<h2>Pending Applicants</h2>
<div style="margin-left:auto; margin-right:auto;">
  <% @pending.each do |dossier| %>    
      <span style="display:inline-block; margin:0px 10px; padding:50px; position:relative; border-bottom:3px dotted grey;">
        <img src="http://placekitten.com/180/180" style="margin-left:auto; margin-right:auto;">
        <h4 style="position:absolute; left:0;"><%= name(dossier.user) %></h4>
      </span>
  <%end%>
<div>

<div style="margin-top:50px; padding-top;50px border:10px;">
  <h2>Flatiron Class</h2>
  <% if @confirmed %>
    <div style="margin-left:auto; margin-right:auto;">
      <% @confirmed.each do |dossier| %>    
          <span style="display:inline-block; margin:0px 10px; padding:50px; position:relative; border-bottom:3px dotted grey;">
            <img src="http://placekitten.com/180/180" style="margin-left:auto; margin-right:auto;">
            <h4 style="position:absolute; left:0;"><%= name(dossier.user) %></h4>
          </span>
      <%end%>
    <div>
  <%end%>
<div>