<div class="row-fluid">

  <div class="span6">
    <div class="interview-index">
      <% @dossiers_with_decision.each do |dossier| %>
        <%= render 'needs_interview/with_decision_table', :dossier => dossier %>
      <% end %>

      <% @dossiers_with_interview_time.each do |dossier| %>
        <%= render 'needs_interview/with_interview_time_table', :dossier => dossier %>
      <% end %>

      <% @dossiers_with_interview_without_time.each do |dossier| %>
        <%= render 'needs_interview/with_interview_without_time_table', :dossier => dossier %>
      <% end %>

      <% @dossiers_without_interview.each do |dossier| %>
        <%= render 'needs_interview/without_interview_table', :dossier => dossier %>
      <% end %>
    </div>
  </div>

  <div class="span6">
    <!-- to be filled by ajax: -->
    <div class="interview-shower"></div>
  </div>

</div>




