<body class="dossier-form-bg">
  <div class="container">
    <div class="dossier-form-container">

<h1>Update User Information</h1>
<br>
<br>

<%= render 'form' %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

</div>
</div>
</body>