<div class="row-fluid login-wrapper">
  <div class="span4"></div>
  <div class="span4 box">
    <div class="content-wrap">
      <h6> Log In </h6>
<%= render 'form' %>
<%= link_to 'Users Index', users_path %>
    </div>
  </div>
</div>


