<div class="row-fluid login-wrapper">
  <div class="logo"></div>
<!--   <a href="/">
      <img class="logo" src="/assets/logo-white.png">
  </a> -->
  <div class="span4 box">
    <div class="content-wrap">
      <h2>New User</h2>
      <%= render 'form' %>
      <p>
        <%= link_to "Admin", dossiers_path %>
      </p>
    </div>
  </div>
</div>
