<body class="login-bg">
  <div class="row-fluid login-wrapper">
    <div class="span4"></div>
    <div class="span4 box">
      <div class="content-wrap">
        <h6> Sign-up for App App! </h6>
  <%= render 'form' %>
  If you already have an account and would like to check the status of your application, <%= link_to 'CLICK HERE', users_path %>
      </div>
    </div>
  </div>
</body>

