<h3 style="text-align:center;">Glancer</h3>
<h5 class="page-header">briefly view new applications for red flags</h5>

<% @dossiers.each do |dossier| %>

  <%= render "thinner_table", :dossier => dossier %>

<% end %>
