          <div id="cover"></div>
          <iframe id="modal" src="http://localhost:3000/dossiers/1"></iframe> 
          <a href="#" id="show"><img src="http://placekitten.com/100/100" class="avatar img-circle"></a>