<div id="cover"></div>

<iframe id="modal" src="http://localhost:3000/dossiers/1"></iframe> 

<a href="#" id="show"><img src="http://placekitten.com/100/100" class="avatar img-circle"></a>

#Getting Fancy Box to run.

applyfnacybox.js file in the vendor.

fancybox on the a class

a
  img
  a

see the show page for songs
and it's i nt e line 31.

<a class='fancybox' data-href="http://localhost:3000/" href="#">
    <img src="http://placekitten.com/100/100" width='300' height='300' >
</a>