<div id="pad-wrapper" class="form-page">
  <div class="row-fluid form-wrapper">
    <form class="span4">
      <div class="field-box">
        <label>Checkboxes:</label>
        <label class="checkbox">
          <div class="checker">
            <span>
              <input type="checkbox">
            </span>
          </div>
          Option 1
      </div>
    </form>
  </div>
</div>

                        <!-- new comment form -->
                        <div class="span12 section comment">
                            <h6>Add a quick note</h6>
                            <p>Add a note about this user to keep a history of your interactions.</p>
                            <textarea></textarea>
                            <a href="#">Attach files</a>
                            <div class="span12 submit-box pull-right">
                                <input type="submit" class="btn-glow primary" value="Add Note">
                                <span>OR</span>
                                <input type="reset" value="Cancel" class="reset">
                            </div>
                        </div>