<div class= "welcome-h1">
<h1>Welcome</h1>
</div>

<div class= "welcome-h1">
<p>So you want to apply to Flatiron School?</p>
</div>

<div class= "welcome-nav">
<nav>
  <%= link_to "Log In", login_path, :class => "btn btn-large" %>
  <%= link_to "Apply", new_dossier_path, :class => "btn btn-large btn-primary" %>
</nav>
</div>


