<h1>Welcome</h1>

<p>So you want to apply to Flatiron School?</p>

<nav>
  <%= link_to "Apply", new_dossier_path, :class => "btn btn-large" %>
  <%= link_to "Log In", login_path, :class => "btn btn-large btn-primary" %>
</nav>