<span class="collapser">
  <span><h4 style="margin-left:0; padding-left:0; padding-right: 5px;">Class Stats:</h4>hide <i class="icon-chevron-up"></i></span>
  <span style="display:none"><h4 style="margin-left:0; padding-left:0; padding-right: 5px;">Class Stats:</h4>show <i class="icon-chevron-down"></i></span>
</span>