// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current_class {
  position: absolute;
  right: 10px;
  left:630px;
  top: 700px;
  width: 75%;
}

.needs_decision {
  position: absolute;
  top: 700px;
  width: 550px;
}

.half-row-width {
  width: 50%;
}

.center-table-detail {
  display: block;
  text-align: center;
}

.course-select {
  position: relative;
}

.float-right {
  float: right;
}

.h4-float h4 {
  display: inline;
  margin-top: 3px;
  margin-right: 14px;
}

.clear-both {
  clear: both;
}

.graphs {
  display: inline-block;
  margin: 0 35px;
  width: 15%;
}

.graph-set {
  text-align: center;
}

.graph {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.graph-subheader {
  font-size: 20px;
}