// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current_class {
  float: right;
  width: 50%;
}

.needs_decision {
  float:left;
  width: 550px;
}