// Place all the styles related to the Dossiers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content{
  min-width: 400px;
  min-height: 620px;
  margin-bottom:100px;
  padding-bottom:50px;
  overflow:hidden;
  position:relative;
  background:#fff;
  margin-left:50px;
  margin-right:50px;
  border-left:1px solid #dae3e9;
  border-right:1px solid #dae3e9;
  border-bottom:1px solid #dae3e9;
  box-shadow: -3px 3px 3px -3px;
  border-radius: 3px 3px 3px 3px;
}

#main-stats{
  margin-left:-20px;
  margin-right:-20px;
  background-color:#fdfdfd;
  border-bottom: 1px;
  padding-bottom:20px;
}