.interview-link-term {
  width: 70px;
  display:inline-block;
}

.interview-link-detail {
  display:inline-block;
}

.interview-time-term {
  width: 150px;
  display: inline-block;
}

.interview-index {
  // float: left;
  // width: 800px;
  padding: 1%;
}

.show-interviewer {
  // float: right;
  // width: 800px;
  border: solid 1px;
  margin-top: 17px;
}