.sidebar-icon-item {
  span {
    position: relative;
    top: 5px;
  }
}

.reviewer-hashtags {
  display:inline-block;
}

.reviewer-tagline {
  display:block;
}

.use-hashtags {
  display:inline;
  margin-left:7px;
  font-size:10px;
}