// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.welcome.home {
  width: 100%;
  margin: 5px auto;
}

body.welcome {
  background: url(flatiron_building.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2{
  line-height:35px;
  text-align: center;
}

.welcome-nav {
  padding-right:5px;
  text-align: center;

}

.login-content{
  top:100px;
  width: 30%;
  margin: 0 auto;
  min-height: 100px;
  margin-bottom:100px;
  padding-bottom:50px;
  overflow:hidden;
  position:relative;
  background:#fff;
  border:2px solid rgb(38, 196, 255);
  box-shadow: -3px 3px 3px -3px;
  border-radius: 3px 3px 3px 3px;
  opacity:.9;
}