@mixin thinner_border($color) {
  border: 4px solid $color;
}

.thinner-table {
  width: 800px; 
  margin-left: auto;
  margin-right: auto;
}

.half-width {
  text-align:center;
}

.quarter-width {
 text-align:center; 
}

.tbody-border {
  @include thinner_border(#0088CC);
}

.tbody-border-decision {
  @include thinner_border(#D90B14);
}

.tbody-border-with-time {
  @include thinner_border(#0BE339);
}

.tbody-border-no-time {
  @include thinner_border(#D9CF19);
}

.page-header {
  text-align:center;
}

.row-height {
  height: 48px;
}

.detail-width-big {
  position: relative;
  width: 248px;
}

.detail-position-big {
  vertical-align: top;
  height: 30px;
}

.detail-width {
  position: relative;
  width: 178px;
}

.detail-position {
  height:30px;
}

.clear-both {
  clear: both;
}

.fifty-width {
  width: 50%;
}

.thinner-short-stat {
  margin-left: 15px;
}

.thinner-med-stat {
  margin-left: 54px;
}

tr.thinner-last-row:last-child {
  td:last-child {
    text-align:right;
  }
}

tr.thinner:first-child {
  td {
    text-align:center;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
  }
}

.thinner-long-stat {
  margin-left: 57px;
}

.thinner-tagline {
  font-size: 13px;
}

.one-line {
  display: inline-block;
  padding: 0 0;
  margin: 2px 0;
}

.hundred-width {
  width: 140px;
}

.push-it-up {
  vertical-align:top;
}
