
.login-bg {
  background: url(flatiron.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.error_explanation {
  font-size: 10px;
  font-color:blue;

}