body.users {
  background: url(flatiron_building.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.dossier-form-container{
  padding: 50px;
  background-color: white;
  position:relative;
  margin: auto;
  width:40%;
  height: 40%;
  overflow: scroll;
  opacity: .95;
  border: 2px solid #60BDDB;
}

// textarea {
//   width:100%;
//   height: 30px;
// }
