
.login-bg {
  background: url(flatiron.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dossier-form-bg {
  background: url(code.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.dossier-form-container{
  padding: 50px;
  background-color: white;
  position:absolute;
  margin: auto;
  width:70%;
  height: 700px;
  overflow: scroll;
  opacity: .8;
  border: 6px solid #60BDDB;
}

