<li>
  <%= link_to "http://prework.flatironschool.com" do %>
    <i class="icon-gift"></i>
    <span>
      prework
    </span>
  <% end %>
</li>
<li>
  <%= link_to "http://flatironschool.com" do %>
    <i class="icon-heart"></i>
    <span>
      visit us
    </span>
  <% end %>
</li>
<li>
  <%= link_to "http://twitter.com/flatironschool" do %>
    <i class="icon-twitter"></i>
    <span>
      tweet us
    </span>
  <% end %>
</li>
<li>
  <%= link_to "http://github.com/flatiron-school" do %>
    <i class="icon-github"></i>
    <span>
      fork us
    </span>
  <% end %>
</li>