<!-- sidebar -->
<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <%= link_to dossiers_path(@dossier) do %>
                <i class="icon-home"></i>
                <span>Dash Board</span>
              <% end %>
            
        </li>  
         <li>
            <a class="dropdown-toggle ui-elements" href="#">
                <i class="icon-code-fork"></i>
                <span>Admin Flow</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><%= link_to thinner_path(@dossier) do %>
                Elevator Pitches
              <% end %></li>
                <li><a href="icons.html">Reviewer</a></li>
                <li><a href="ui-elements.html">Interviewer</a></li>
                <li><a href="icons.html">Class Maker</a></li>
            </ul>
        </li>          
      
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-group"></i>
                <span>Dossiers</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="user-list.html">User list</a></li>
                <li><a href="new-user.html">New user form</a></li>
                <li><a href="user-profile.html">User profile</a></li>
            </ul>
        </li>
        
       
        <li>
            <a href="personal-info.html">
                <i class="icon-cog"></i>
                <span>My Info</span>
            </a>
        </li>
        <li>
            <a class="dropdown-toggle" href="#">
                <i class="icon-share-alt"></i>
                <span>Extras</span>
                <i class="icon-chevron-down"></i>
            </a>
            <ul class="submenu">
                <li><a href="code-editor.html">Code editor</a></li>
                <li><a href="grids.html">Grids</a></li>
                <li><a href="signin.html">Sign in</a></li>
                <li><a href="signup.html">Sign up</a></li>
            </ul>
        </li>
    </ul>
</div>
    <!-- end sidebar -->