<% if controller_action == [params[:controller], params[:action]]  %>
<li class="active">
  <div class="pointer">
    <div class="arrow"></div>
    <div class="arrow_border"></div>
  </div>
<% else %>
<li>
<% end %>
